#root {
  min-height: 100%;
  overflow: hidden;
  background-repeat: repeat-x;
  background-color: #D3D3D3;
  background-image:   
    url('../Images/hills/hills1.svg'),
    url('../Images/hills/hills2.svg'),
    url('../Images/hills/lupin.svg'),
    url('../Images/hills/hills3.svg'),
    url('../Images/hills/cloudsFront.svg'),
    url('../Images/hills/hills4Top.svg'),
    url('../Images/hills/hills4Bottom.svg'),
    url('../Images/hills/cloudsBack.svg');
  background-size:110%;
  animation: 50s para 1 linear;
}

@media screen and (orientation: portrait) {
  #root {
    background-position: 
      0%   100%,
      50%  100%,
      50%  100%,
      500% 100%,
      0%   100%,
      250% 100%,
      250% 100%,
      0%   100%;
  }
}

@media screen and (orientation: landscape) {
  #root {
    background-position: 
      0% 50%,
      50% 50%,
      50% 50%,
      500% 50%,
      0% 50%,
      250% 40%,
      250% 40%,
      0% 50%;
  }
}

/*@keyframes para {
  100% {
    background-position-x: 
      0%, 
      50%,
      50%,
      500%,
      3000px,
      0%,
      0%,
      500px;
    }
  }*/
