#root {
  height: 100%;
  overflow: hidden;
  background-color: #b5e2be;
  background-image:   
    url('../Images/hills/hills1.png'),
    url('../Images/hills/hills2.png'),
    url('../Images/hills/hills3.png'),
    url('../Images/hills/cloud-front.png'),
    url('../Images/hills/hills4.png'),
    url('../Images/hills/cloud-back.png');
  background-repeat: repeat-x;
  background-position: 
    0% 80%,
    0% 80%,
    0% 80%,
    0% 80%,
    0% 80%,
    0% 80%;
  animation: 500s para 1 linear;
}

@keyframes para {
  100% {
    background-position: 
      0% 80%,
      0% 80%,
      0% 80%,
      3000px 80%,
      0% 80%,
      500px 80%;
    }
  }
