#root {
  height: 100%;
  overflow: hidden;
  background-color: #b5e2be;
  background-image:   
    url('../Images/hills/svg/hills1.svg'),
    url('../Images/hills/svg/hills2.svg'),
    url('../Images/hills/svg/lupin.svg'),
    url('../Images/hills/svg/hills3.svg'),
    url('../Images/hills/cloud-front.png'),
    url('../Images/hills/svg/hills4.svg'),
    url('../Images/hills/svg/hills4-highlight.svg'),
    url('../Images/hills/cloud-back.png');
  background-repeat: repeat-x;
  background-position: 
    0% 80%,
    50% 80%,
    50% 80%,
    500% 70%,
    0% 80%,
    0% 60%,
    0% 60%,
    0% 80%;
  animation: 50s para 1 linear;
}

@keyframes para {
  100% {
    background-position-x: 
      0%, 
      50%,
      50%,
      500%,
      3000px,
      0%,
      0%,
      500px;
    }
  }
