img.artThumbnaill {
  border-width:5px;
  border-style:solid;
  border-color:white;
  border-radius:5px;
}

@media screen and (orientation: portrait) {
  img.artThumbnail {
    max-width:70%;
    margin:10px;
  }
}

@media screen and (orientation: landscape) {
  img.artThumbnail {
    max-width:30%;
    margin:20px;
  }
}
